/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

* {
  box-sizing: border-box;
}
